@import "../../base";

.dark-mode .news {
  background: $bg-gray;
}

.light-mode .news {
  background: $bg-light-gray;
}

.dark-mode .news-article, .dark-mode .news-article__details {
  border-color: rgba(255, 255, 255, 0.2);
  color: $bg-ultra-gray;
}

.light-mode .news-article, .light-mode .news-article__details {
  border-color: rgba(255, 255, 255, 0.8);
  color: $bg-dark;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.news-article {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
  text-decoration: none;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 1.2rem;
    margin: 0;
  }

  &__department, &__location {
    margin: 0.5rem 0;
  }
}

@media (max-width: 768px) {
  .news-article {
    width: 100%;
    max-width: 100%;
  }
}
