@import "../../base";
.card-product {
  display: inline-block;

  .card-img-large {
    background-size: 100% 100%;
    background-color: transparent;

    img{
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-clip: border-box;
    }
  }

  .card-img-medium {
    background-size: 100% 100%;

    img{
      height: 100%;
      width: 100%;
    }
  }

  .info {
    padding-top: 20px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      .title {
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;

      }

      .type {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

      }
    }

    .right {
      .price {
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        text-align: right;
        padding: 0;
      }
    }
  }

}