@import "../../../base";

.sidebar {
  left: 0;
  transition: top 0.3s ease-in-out;
  width: 300px;
  padding: 20px;
  height: calc(160vh - 80px);
  position: sticky;
  top: 0;

  .sidebar-h3 {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin-top: 0;
  }

  .sidebar-h4 {
    font-weight: bold;
    font-size: 20px;
  }

  .check {
    font-size: 20px;
    cursor: pointer;
  }

  .check input[type="checkbox"]{
    accent-color: $color_black;
  }

  .category-buttons {
    display: flex;
    flex-direction: column;

    .category-item {
      padding: 10px 0;
      cursor: pointer;
      text-align: left;
      border-bottom: 1px solid transparent;
      font-size: 16px;
      color: #000;

      &:hover {
        font-size: 18px;
        font-weight: 600;
      }

      &.selected {
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }
}