@import "../../base";


// menu-bar .open
.light-mode .menu-bar.open {
  background: $bg-light-gray;
  color: $color_black;
}

.dark-mode .menu-bar.open {
  background: $color_black;
  color: $bg-light-gray;
}

// header light-mode
.light-mode .container-header, .light-mode .container-header-fix {
  background: $bg-light-gray;
  border-bottom: 1px solid $bg-ultralight-gray;
}

.light-mode .top-bar {
  border-bottom: 1px solid $bg-ultralight-gray;
}

.light-mode .language-selector {
  color: $bg-gray;
}

.light-mode .language-selector.active {
  color: $color_black;
}

.light-mode .dropdown-content {
  font-size: 15px;
  display: none;
  position: absolute;
  background-color: $bg-light-gray;
  min-width: 160px;
  z-index: 1;
  left: -50px;
}

.light-mode .logo a,
.light-mode .logo a:hover,
.light-mode .menu li a,
.light-mode .icons a,
.light-mode .icons a:hover {
  color: $color_black;
}


// header dark-mode
.dark-mode .container-header, .dark-mode .container-header-fix {
  background: $color_black;
  border-bottom: 1px solid $bg-gray;
}

.dark-mode .top-bar {
  border-bottom: 1px solid $bg-gray;
}

.dark-mode .language-selector {
  color: $bg-ultralight-gray;
}

.dark-mode .language-selector.active {
  color: $bg-ultra-gray;
}

.dark-mode .menu li .active {
  font-weight: bold;
  background-color: $bg-gray;
  border-radius: 1px;
}

.dark-mode .dropdown-content {
  font-size: 15px;
  display: none;
  position: absolute;
  background-color: $bg-gray;
  min-width: 160px;
  z-index: 1;
  left: -50px;
}

.dark-mode .logo a,
.dark-mode .logo a:hover,
.dark-mode .menu li a,
.dark-mode .icons a,
.dark-mode .icons a:hover,
.dark-mode .menu-bar .open .icons a,
.dark-mode .menu-bar .open .icons a:hover {
  color: $bg-ultra-gray;
}

//-----------------------------------------------------------------------------------

.container-header {
  width: 100%;
}

.container-header-fix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 1px solid $bg-ultralight-gray;
  font-size: 14px;
}

.top-left {
  text-align: center;
}

.language-selector {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  color: $bg-gray;
}

.language-selector.active {
  font-weight: bold;
  color: $color_black;
}

#iconn {
  cursor: pointer;
  font-size: small;
}

.top-right span {
  margin-right: 10px;
  margin-left: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  width: 12%;
}

.logo a {
  font-size: 24px;
  color: $color_black;
  text-decoration: none;
  cursor: pointer;
}

.logo a:hover {
  color: $color_black;
  font-weight: bold;
}


.menu {
  display: flex;
  list-style: none;
  flex-grow: 1;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
  width: 40%;
}

.menu li {
  margin: 0 15px;
}

.menu li a {
  text-decoration: none;
  color: $color_black;
  font-weight: normal;
  transition: all 0.3s ease;
}

.menu li a:hover {
  font-weight: bold;
}

.menu li .active {
  font-weight: bold;
  border-radius: 1px;
}


.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
}

.search-icons {
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  width: 48%;
}

.search {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.search input {
  border: 1px solid $color_black;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  padding-left: 30px;
  order: 2;
}

.search button {
  position: relative;
  right: -25px;
  height: 100%;
  border: none;
  border-radius: 100px;
  background-color: $bg-light-gray;
  color: $color_black;
  cursor: pointer;
  order: 1;
}

.icons {
  width: 50%;
  display: flex;
  justify-content: end;
  margin-top: 10px;
  align-items: center;
}

.icons a {
  margin-left: 10px;
  margin-bottom: 5px;
  display: flex;
  color: $color_black;
  cursor: pointer;
  font-weight: normal;
}

.icons a:hover {
  color: $color_black;
  font-weight: bold;
}

.login {
  text-decoration: none;
  font-size: 20px;
}

.accset {
  font-size: 25px;
  margin: 10px 0 15px 10px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: normal;
}

.dropdown-content a:hover {
  font-weight: bold;
}

.accset:hover .dropdown-content {
  display: block;
  font-weight: bold;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  display: none;
}

//.banner-contain {
//  position: relative;
//  top: 120px;
//}

.scroll-up__container {
  position: fixed;
  right: 0;
  bottom: 0;

  .scroll-up__btn {
    border: none;
    padding: 10px 15px 10px 15px;
    box-shadow: 0 0 4px -2px;
    margin: 1em;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: scale(1.04);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

// Responsive styles
@media (max-width: 1350px) {
  .menu-bar {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .menu-bar.open {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 40px;
    width: 97%;
    background: $bg-light-gray;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 4px $color_black;
  }

  .menu-bar.open .close-btn {
    display: block;
    margin-bottom: 10px;
  }

  @media (min-width: 1000px) {
    .close-btn {
      display: none;
    }
  }

  .menu-bar.open .menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    order: 1;
    width: 50%;
  }

  .menu-bar.open .menu li {
    width: 50%;
    margin: 10px 0;
  }

  .menu-bar.open .menu li a {
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
  }

  .menu-bar.open .search-icons {
    flex-direction: revert;
    align-items: center;
    display: flex;
    justify-content: space-between;
    order: 2;
    margin-left: 0;
    width: 50%;
  }

  .menu-bar.open .search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .menu-bar.open .icons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .menu-bar.open .icons a {
    margin-left: 15px;
    margin-bottom: 5px;
    display: flex;
    font-size: 20px;
    font-weight: normal;
  }

  .menu-bar.open .icons a:hover {
    font-weight: bold;
  }
}

@media (max-width: 1090px) {
  .menu-bar.open .search-icons {
    flex-direction: column;
    align-items: end;
    width: 50%;
  }

  .menu-bar.open .search {
    width: 50%;
  }

  .menu-bar.open .icons {
    width: 50%;
  }

}

@media (max-width: 790px) {

  .menu-bar.open {
    flex-direction: row;
    width: 73%;
    left: 26%;
  }

  .menu-bar.open .menu {
    width: 100%;
  }

  .menu-bar.open .search-icons {
    width: 100%;
    align-items: end;
  }

  .menu-bar.open .search {
    width: 125%;

    .search-input {
      width: 100%;
    }
  }

  .menu-bar.open .menu li {
    width: 100%;
    margin: 10px 0;
  }

  .menu-bar.open .icons {
    width: 100%;
  }
}

