$font: "Helvetica Neue";

$color_black: #000000;
$bg-gray: #444444;
$bg-ultralight-gray: #F5F5F5FF;
$bg-ultra-gray: #F5F5F5;
$bg-light-gray: #ffffff;
$bg-Red: #e10808;
$bg-Blue: #0521d7;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  font-family: $font;
}

h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 60px;
}

h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
}

h3 {
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 32.67px;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}



